/* Nav section */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

body{
   color: white;
}
.nav-link{
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-link:hover{
    color: white;
   background-color: crimson
}
.banner{
    background-image: url(../images/blog-luxury-shopping-1\ replace.jpg);
    background-size: cover;
    height: 650px;
}
ul label{
    margin-right:40%;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    font-size: 25px;
}
.bliss{
    color:red;
    font-size: 30px;
    /* Banner Section */
}
.list{
    text-align: left;
    margin-top: 14%;
    font-weight: bolder;
    margin-left: 5%;
}
.list .one{
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    text-shadow: 1px 1px black;
    
}
.list .two{
    font-size: 30px;
    color: red
}
.list .btn{
    font-weight: bolder;
}
/* Store Section */
/* Women Clothing */
.stress .btn{
    background-color: red;
    font-weight: bolder;
    font-size: 15px;
}
.anostr .btn{
    font-weight: bolder;
    color: black;
    font-style: italic;
    text-shadow: 1px 0px black;
}
.anostr{
    font-size: 17px;
    background-color: wheat;
}
.anostr th{
    font-weight: bolder;
    color: red
}
/* Men clothing */
.hall .btn{
    font-weight: bolder;
    color: white;
    font-style: italic;
    text-shadow: 1px 0px black;
}
.hall{
    font-size: 15.5px;
    background-color: rgb(32, 29, 29)
}
.hall th{
    font-weight: bolder;
    color: red
}
/* Women clothing */
.treal .btn{
    font-weight: bolder;
    color: black;
    font-style: italic;
    text-shadow: 1px 0px black;
}
.treal{
    font-size: 18.5px;
    background-color:whitesmoke
}
.treal th{
    font-weight: bolder;
    color: red;
}
