/* Nav section */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

body{
   color: white;
}
.nav-link{
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-link:hover{
    color: white;
   background-color:lightcoral;
}
.banner{
    background-image: url(../images/blog-luxury-shopping-1\ replace.jpg);
    background-size: cover;
    height: 600px;
}
ul label{
    margin-right:40%;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    font-size: 25px;
}
.bliss{
    color:red;
    font-size: 30px;
}
.list{
    text-align: left;
    margin-top: 14%;
    font-weight: bolder;
    margin-left: 5%;
}
.list .one{
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    text-shadow: 1px 1px black;
    
}
.list .two{
    font-size: 30px;
    color: crimson;
}
.list .btn{
    font-weight: bolder;
}
.clone{
    color: red;
    font-weight: bold;
    background-color: wheat;
}
.trice{
   background-color: white;
}