/* Nav section */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

body{
   color: white;
}
.nav-link{
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-link:hover{
    color: white;
   background-color: lightcoral;
}
.banner{
    background-image: url(../images/blog-luxury-shopping-1.jpg);
    background-size: cover;
    height: 600px;
}
ul label{
    margin-right:25%;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    font-size: 25px;
}
b{
    color:red;
}
.bou h1{
    text-align: center;
    margin-top: 3%;
    font-size: 150px;
    color: black;
    font-weight: bolder;
}
.bou i{
    color: deeppink;
    font-weight: bolder;
    text-shadow: 1px 1px deeppink;

}